services:
  api:
    build: ./api
    env_file:
      - ./api/.env
    ports:
      - "8000:8000"
  web:
    build: ./web
    env_file:
      - ./web/.env.local
    environment:
      - BG_API_URL=http://api:8000
    ports:
      - "3000:3000"
    depends_on:
      - api
